$no-gutter: (
  gutter: 0
);

$grey: #D8D8D8;
@mixin grey-hover {
  cursor: pointer;
  color: $grey;
  transition: 0.3s;
  &:hover {
    color: black;
    transition: 0.3s;
  }
}

$parallax-window-height: 100vh;
$parallax-background-height: $parallax-window-height * 2;

$breakpoint-medium: "only screen and (min-width: 760px)";
$breakpoint-large: "only screen and (min-width: 1000px)";
