.bio {
  height: 100vh;
  @media #{$breakpoint-medium} {
    margin-top: 50px;
  }
  .bio-text {
    p {
      margin-top: 30px;
      &:first-child {
        @media #{$breakpoint-medium} {
          margin-top: 100px;
        }
        @media #{$breakpoint-large} {
          margin-top: 170px;
        }
      }
    }
    .social {
      display: flex;
      justify-content: center;
      margin-top: 50px;
      i:nth-child(2) {
        margin: 0 30px;
      }
    }
  }
  .chevron {
    margin: 80px 0 150px 0;
    text-align: center;
  }
}
