@font-face {
  font-family: "century";
  src: url("../fonts/century.ttf");
}

* {
  font-family: "century";
}

header {
  p {
    color: white;
    font-family: 'system-ui';
  }
  button {
    color: white;
    text-transform: uppercase;
    font-size: 2.5em;
  }
}
