@font-face {
  font-family: "century";
  src: url("../fonts/century.ttf");
}

@font-face {
  font-family: "futura-md";
  src: url("../fonts/futura-medium.ttf");
}

* {
  font-family: "century";
}

header {
  p {
    color: white;
    font-family: 'futura-md';
    font-size: 1.2em;
    letter-spacing: .2em;
  }
  button {
    color: white;
    text-transform: uppercase;
    font-size: 2.5em;
  }
}

nav {
  a {
    color: black;
    font-family: 'futura-md';
    font-size: 1.2em;
  }
  p {
    text-transform: uppercase;
    font-size: 1.3em;
  }
}
