@font-face {
  font-family: "century";
  src: url("../fonts/Century.ttf");
}

@font-face {
  font-family: "futura-md";
  src: url("../fonts/Futura-Medium.ttf");
}

* {
  font-family: "century";
}

header {
  p {
    color: white;
    font-family: 'futura-md';
    letter-spacing: .2em;
    font-size: .8em;
    @media #{$breakpoint-medium} {
      font-size: 1.2em;
    }
  }
  button {
    color: white;
    text-transform: uppercase;
    font-size: 2.5em;
  }
}

nav {
  a {
    color: black;
    font-family: 'futura-md';
    font-size: 1.4em;
    @media #{$breakpoint-large} {
      font-size: 1.2em;
    }
  }
  p {
    text-transform: uppercase;
    font-size: 1.3em;
  }
}

.bio {
  .bio-text {
    font-size: 1.4em;
    text-align: center;
    @media #{$breakpoint-medium} {
      text-align: left;
    }
  }
  i {
    text-align: center;
    font-size: 1.7em;
    color: black;
    @media #{$breakpoint-large} {
      @include grey-hover;
    }
  }
}

.projects {
  p:first-child {
    text-align: center;
    font-size: 1.1em;
    @media #{$breakpoint-medium} {
      font-size: 1.4em;
    }
  }
  i {
    text-align: center;
    font-size: 1.7em;
    @media #{$breakpoint-medium} {
      text-align: left;
    }
  }
  .photo-group {
    p:nth-child(2) {
      color: black;
      font-family: 'futura-md';
      font-size: .8em;
      letter-spacing: .1em;
      @media #{$breakpoint-large} {
        font-size: .9em;
      }
    }
    p:nth-child(4) {
      color: black;
      font-size: 1.1em;
      text-decoration: none;
      text-align: left;
    }
  }
}

footer {
  button {
    color: black;
    text-transform: uppercase;
    font-size: 1.5em;
  }
  .social {
    i {
      font-size: 2em;
      color: black;
      @media #{$breakpoint-large} {
        @include grey-hover;
      }
    }
  }
}
